:root {
    --primary: #008F11;
    --secondary: #003B00;
    --highlight: #00FF41;
}

@media (max-width: 768px) {
    header,
    footer {
        height: 4em !important;
    }
    footer {
        bottom: 0 !important;
    }
    body {
        width: 100%!important;
        height: 100% !important;
    }
    #content {
        line-height:1.5em !important;
        font-size: 1.5em !important;
    }
    #ASCII {
        font-size: 0.4em !important;
        padding: 0 !important;
        line-height: normal !important;
    }
    #links {
        flex-flow: column !important;
        line-height: 2em;
    }
    .contact {
        text-wrap: nowrap;
    }
    .link-separator {
        display: none;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
}

header,
footer {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 5em;
    z-index: 9000;
    background: #000;
}

footer {
    position: absolute;
    bottom: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column;
    /* background-image: url("../images/repeated-square-dark.png"); */
    background-color: #000;
    color: var(--primary);
    font-family: 'Ubuntu Mono', monospace;
    /* overflow-x: hidden; */
}

/* main content */
#content {
    width: 100vw;
    height: 100vh;
    max-height: 1200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2em;
    font-size: 1.6em;
}

.flex-c {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.line {
    margin: 0.5em;
}

#links {
    padding: 1em;
    flex-flow: row;
}

#ASCII {
    padding: 1em;
    font-size: 1em;
    color: var(--highlight);
    line-height: normal;
    font-weight: bold;
}

.hf {
    display: flex;
    font-size: 1.5em;
    padding: 1em;
}

.italics {
    font-style: italic;
}

.secret {
    animation: blink 1s steps(2) infinite;
}

/* hyperlink colours */

a:link {
    color: var(--highlight);
}

a:visited {
    color: var(--highlight);
}

a:hover {
    color: var(--primary);
}

a:active {
    color: var(--secondary);
}

/*  */
/* #command a,
#command a:visited {
    text-decoration: none !important;
    color: var(--primary) !important;
} */