:root {
    --primary: #008F11;
    --secondary: #003B00;
    --highlight: #00FF41;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
    /* background-image: url("../images/repeated-square-dark.png"); */
    background-color: #000;
    color: var(--primary);
    font-family: 'Ubuntu Mono', monospace;
}

/* main content */
#info {
    width: 100%;
    height: 100%;
    max-height: 1200px;
    /* min-width: 800px; */
    /* min-height: 800px; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2em;
    font-size: 1.6em;
}

.flex-c {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.line {
    margin: 1em;
    width: 100%;
}

#links {
    flex-flow: row;
}

.title-loc {
    padding: 1em;
}

#ASCII {
    padding: 1em;
    font-size: 1em;
    color: var(--highlight);
    line-height: normal;
    font-weight: bold;
    font-size: 1em;

}

.hf {
    display: flex;
    font-size: 1.5em;
    padding: 1em;
}

.italics {
    font-style: italic;
}

.footer {
    left: 0px;
}

.secret {
    animation: blink 1s steps(2) infinite;
}

/* hyperlink colours */
a:link {
    color: var(--highlight);
}

a:visited {
    color: var(--highlight);
}

a:hover {
    color: var(--primary);
}

a:active {
    color: var(--secondary);
}

/*  */
/* #command a,
#command a:visited {
    text-decoration: none !important;
    color: var(--primary) !important;
} */